name: Build and Package

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: write

jobs:
  build-and-zip:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build vf_output
        run: ./gradlew build

      - name: Prepare zip folder
        run: |
          mkdir -p package
          cp -r out/artifacts/vf_output_jar/vf_output.jar package/
          cp -r libs package/
          cp -r natives package/
          cp terrain.png package/ || true
          cp level.dat package/ || true
          cp vf_output.iml package/ || true
          cd package
          zip -r ../vf_output.zip ./*

      - name: Upload vf_output.zip
        uses: actions/upload-artifact@v4
        with:
          name: vf_output
          path: vf_output.zip
